<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></li>
          {% assign split_path = page.path | split: "/" %}
          {% assign locale = split_path[1] %}
          {% for link in site.data.navigation[locale].main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links links-menu hidden"></ul>
        <!-- LANG_TODO
        <ul class="hidden-links lang-menu hidden">
          <li class="masthead__menu-item"><a href="{{ site.url }}{{ page.url }}">English</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/es_ES{{ page.url }}">Español</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/de_DE{{ page.url }}">Deutsch</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/fr_FR{{ page.url }}">français</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/it_IT{{ page.url }}">italiano</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/nl_NL{{ page.url }}">Nederlands</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/pt_BR{{ page.url }}">Português do Brasil</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/pt_PT{{ page.url }}">Português (Portugal)</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ru_RU{{ page.url }}">Русский</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/zh_CN{{ page.url }}">汉语</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/zh_TW{{ page.url }}">漢語</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/pl_PL{{ page.url }}">polski</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/tr_TR{{ page.url }}">Türkçe</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/vi_VN{{ page.url }}">Tiếng Việt</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ca_ES{{ page.url }}">Català</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/el_GR{{ page.url }}">Ελληνικά</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/he_IL{{ page.url }}">עברית‎</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/sv_SE{{ page.url }}">Svenska</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ko_KR{{ page.url }}">한국어</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/no_NO{{ page.url }}">Norsk</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ja_JP{{ page.url }}">日本語</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ar_SA{{ page.url }}">اللغة العربية</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/hu_HU{{ page.url }}">Magyar</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ro_RO{{ page.url }}">Română</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/sr_SP{{ page.url }}">Српски</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/af_ZA{{ page.url }}">Afrikaans</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/ms_MY{{ page.url }}">Bahasa melayu</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/fi_FI{{ page.url }}">Suomi</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/da_DK{{ page.url }}">Dansk</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/uk_UA{{ page.url }}">Українська</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/cs_CZ{{ page.url }}">Čeština</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/en_PT{{ page.url }}">Pirate English</a></li>
        </ul>
        <button class="lang-selector"><div class="langicon"><i class="fa fa-language fa-lg" aria-hidden="true"></i></div></button>
        -->
        <button class="nav-selector" id="toggle-nav"><div class="navicon"></div></button>
      </nav>
    </div>
  </div>
</div>
