<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links links-menu hidden"></ul>
        <!-- LANG_TODO
        <ul class="hidden-links lang-menu hidden">
          <li class="masthead__menu-item"><a href="{{ site.url }}{{ page.url }}">English</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/es_ES{{ page.url }}">Español</a></li>
        </ul>
        <button class="lang-selector"><div class="langicon"><i class="fa fa-language fa-lg" aria-hidden="true"></i></div></button>
        -->
        <button class="nav-selector" id="toggle-nav"><div class="navicon"></div></button>
      </nav>
    </div>
  </div>
</div>
