---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6670011780914577",
    enable_page_level_ads: true
  });
</script>

<div id="main" role="main">

  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <section class="page__content" itemprop="text">
      <hr>
        
      {% assign split_path = page.path | split: "/" %}
      {% assign locale = split_path[1] %}

      {% for link in site.data.navigation[locale].bottom %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <div class ="notice"><b>{{ link.title }}</b></div>
      {% endfor %}

      <hr>

      <div class ="notice--danger">
        The /r/3dshacks moderation team (specifically <a href="https://www.reddit.com/user/deadfracture99">LOCAP</a>) have attempted to have GitHub take down <a href="https://3ds.guide">3ds.guide</a>.
        <br>
        They attempted to get the sum of thousands of hours of work, by me and dozens of people, taken down for <i>spite</i>.
        <br>
        (<a href="https://0bin.net/paste/jzokYUcQ8fngF-PQ#wvhaNjdwCjMwAxZa0iArfSYvPoYLYYhBam7l9pA5Ols">Relevant Logs</a>)
      </div>
      <div class ="notice--danger">
        (<a href="{{ base_path }}/recent-community-events">Recent Community Events</a>)
        <br>
        (I know this is not the best place for this, but I have no other options. I apologize to anyone who does not care and just wants to hack their 3DS.)
      </div> 

      <hr>
      {{ content }}
    </section>
  </article>

  <center>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Guide -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6670011780914577"
      data-ad-slot="2889110246"
      data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6670011780914577"
      data-ad-slot="7670623049"
      data-ad-format="horizontal"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  </center>

</div>
